.productGrid {
    padding:10px 100px;
  margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust column width as needed */
    grid-gap: 20px; /* Adjust the gap between tiles */
    justify-items: center; /* Center tiles horizontally */
  }
  
  .catHead{
    width: 87%;
    background-color: rgba(128, 128, 128, 0.164);
    display: flex;
    gap: 20px;
    padding:0px 100px ;
    color: gray;

  }
  .catHead div{
   width: 4px;
   background-color: rgba(0, 0, 0, 0.114);
   margin: 4px -5px; 

  }
  .catHead p{
   text-transform: uppercase;
  }