.product-conatainer{
    padding: 20px 150px;
    display: flex;
    gap: 110px;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.catname{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.productname{
    font-size: 25px;
    font-weight: 640;
}
.productprice{
    font-size: 25px;
    font-weight: 640;
    color: red;
}
.prodiscription{
    font-size: 12px;
    text-align: left;

}
#cartbtn{
    border: none;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 15px 75px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 150px;
}
#cartbtn:hover{
  cursor: pointer;
}
.min_img{
    display: flex;
    gap: 10px;
    opacity: 0.6; 
   margin-bottom: 40px;
}
.min_img img{
    padding: 4px;
    border: 1px solid rgba(128, 128, 128, 0.403);
}